body 
{
    background-color: #424445;
    width: 1000px;
    margin: 0 auto 0 auto;
    font-family: sans-serif;
    font-size: 100%;
    padding: 0 0 0 0;

}

.topMenu
{
    line-height: 45px;
    font-size: 115%;
    margin-bottom: 63px;
}

.topMenu ul li
{
    float: left;
    list-style-type: none;
    border-right: 1px solid #bbb;
    width: 16%;
}

.topMenu ul li:last-child 
{
    border-right: none;
}

.topMenu ul li a
{
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #40E360;
    background-color: #333;
    text-decoration: none;
}

.topMenu a:hover
{
    text-decoration: none;
    background-color: #4cff00;
}

.mainContent
{
    height: auto;
    width: 1000px;
    background-color: #FFFFFF;
}

.mostPopular
{
    margin-bottom: 125px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.saleItems
{
    margin-bottom: 125px;
    margin-left: auto;
    margin-right: auto;
}

.popularPS4
{
    margin-bottom: 125px;
    margin-left: auto;
    margin-right: auto;
}

.popularXBone
{
    margin-bottom: 125px;
    margin-left: auto;
    margin-right: auto;
}

.popularWii
{
    margin-bottom: 125px;
    margin-left: auto;
    margin-right: auto;
}

.footer
{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 40px;
}