<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="group5ConnectionString" connectionString="Data Source=150.216.55.77\SQLEXPRESS;Initial Catalog=group5;Persist Security Info=True;User ID=group5;Password=9ep2cxwr" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>